
<div>
        <nav>
            
        <div class="text-center border p-2 fs-1">
            <h1>Cola Bank of india </h1>
            <h5 class="fs-6">{{aim}}</h5>

        </div>
        </nav>
    
            <div class="row mb-0">

                <div class="col"></div>

                <div class="col-4  mb-0">
                    <form class=" border border-2 m-5 mb-0 p-5">
                    <h3>Welcome !.</h3>
                    <p class="fs-6 "><strong>Ready</strong> to view your <strong>BANK </strong></p>
                


       <p> <em> Enter Credentials</em></p>

                       <!-- // variable passing using event change method -->

                    <!-- <div class="">
                        <input (change)="acnoChange($event)" type="text" name="acno" id="login_acno" [placeholder]="account" class="  mb-2 w-100"> <br>

                    </div> 
                    

                    <div class="">

                        <input (change)="pswdChange($event)" type="password" name="pswd" if="login_pswd" [placeholder]="password" class=" mt-1 w-100 ">

                    </div>  -->

                        <!-- //using #  -->
                    
                    <!-- <div class="">
                        <input #acno type="text" name="acno" id="login_acno" [placeholder]="account" class="  mb-2 w-100"> <br>

                    </div> 
                    

                    <div class="">

                        <input #pswd type="password" name="pswd" if="login_pswd" [placeholder]="password" class=" mt-1 w-100 ">

                    </div> 

                    <button class="btn btn-success m-5 mt-3 mb-0 ms-0 w-100" (click)="login(acno,pswd)" type="button">login</button>
               -->

                <!-- using NgModule -->


                    <div class="">
                        <input required [(ngModel)]="acno" type="text" name="acno" id="login_acno" [placeholder]="account" class="  mb-2 w-100"> <br>

                    </div> 
                    

                    <div class="">

                        <input [(ngModel)]="pswd" type="password" name="pswd" if="login_pswd" [placeholder]="password" class=" mt-1 w-100 ">

                    </div> 

                    <button class="btn btn-success m-5 mt-3 mb-0 ms-0 w-100" (click)="login()" type="button">login</button>
               
                </form>


                </div>
        <div class="col"></div>

        </div>
    <div class="text-center fs-6 mt-2">
    <a href="#">Forget Password</a> or <a routerLink="register">Sign Up</a>
       </div> 
</div>