
<div>
    <nav>
        
    <div class="text-center border p-2 fs-1">
        <h1>Cola Bank of india </h1>
        

    </div>
    </nav>

        <div class="row mb-0">

            <div class="col"></div>

            <div class="col-4  mb-0">

                <form  [formGroup]="registerForm" class=" border border-2 m-5 mb-0 p-5">
                <h3>Hello !.</h3>
                <p class="fs-6 "><strong>Ready</strong> to Sign up ?<strong> <br> Your New Bank Awaits </strong></p>
            


                    <p> <em> Enter Details</em></p>

                <div class="">
                    <input  formControlName="uname" type="text" name="unameReg" id="sign_uname" placeholder="Username" class="  mb w-100">
                   <div class="text-center " *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched"  
 style="color: red;"> <h5 class="">Invalid Username</h5></div> 

                </div> 
                <div class="">
                    <input  formControlName="acno1" type="text" name="acnoreg" id="sign_acno" placeholder="Account Number" class="  mb-3 mt-3 w-100"> <br>
                    <div class="text-center " *ngIf="this.registerForm.get('acno1')?.errors && this.registerForm.get('acno1')?.touched"  
                    style="color: red;"> <h5 class="">Invalid Account Number</h5></div>
                </div> 
                

                <div class="">

                    <input formControlName="pswd1" type="password" name="pswdReg" if="sign_pswd" placeholder="Password" class="  w-100 ">
                    <div class="text-center " *ngIf="this.registerForm.get('pswd1')?.errors && this.registerForm.get('pswd1')?.touched"  
                    style="color: red;"> <h5 class="">Invalid Password</h5></div>
                </div> 

                <button class="btn btn-success m-5 mt-3 mb-0 ms-0 w-100" (click)="register()" type="button">Sign up</button>
            
                <div class="text-center fs-6 mt-2">
                    <a routerLink="" class="btn btn-info w-50">Sign In</a> 
                       </div> 
                    </form>


            </div>
    <div class="col"></div>

    </div>

</div>